/.idea
/.vscode
/*.user
/Vertical/.idea
/Vertical/*.user
/Vertical/Architecture.Api/bin
/Vertical/Architecture.Api/logs
/Vertical/Architecture.Api/obj
/Clean/*.user
/Clean/.idea
/Clean/Architecture.Api/bin
/Clean/Architecture.Api/obj
/Clean/Architecture.Application/bin
/Clean/Architecture.Application/obj
/Clean/Architecture.Domain/bin
/Clean/Architecture.Domain/obj
/Clean/Architecture.Infrastructure/bin
/Clean/Architecture.Infrastructure/obj
/Clean/Architecture.Api/logs
